<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="{{ program.name }}">
    <ng-template ngbPanelContent>
      <div *ngIf="program.activties.length == 0"> No activities added yet</div>
      <ul *ngFor="let activity of program.activties" class="list-group">
        <li class="list-group-item">
          <activity [activity]=activity>
          </activity>
        </li>
      </ul>
      <div *ngIf="!showForm">
        <li class="list-group-item text-center">
        <button class="btn btn-primary" (click)="toggleForm()"> Add an activity </button>
      </li>
      </div>
      <div *ngIf="showForm">
      <li class="list-group-item">
        <div *ngIf="!name; else forminfo">
          <form [formGroup]="rForm" (ngSubmit)="add(rForm.value)" #myform="ngForm">

            <label>Name <small>*</small>
                  <input type="text" class="form-control" formControlName="name">
                </label>

            <p class="alert alert-warning" *ngIf="rForm.controls.name.errors && formSubmitted">This field is required!</p>
            <div class="input-group">
              <label class="input-label">Start date : </label>

              <input type="text" formControlName="startdate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">

              <button class="input-group-addon" (click)="d.toggle()" type="button">
                    <img src="https://image.flaticon.com/icons/svg/26/26012.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </button>
            </div>


            <div class="input-group">
              <label class="input-label">End date : </label>
              <input type="text" formControlName="enddate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #a="ngbDatepicker">
              <button class="input-group-addon" (click)="a.toggle()" type="button">
                 <img src="https://image.flaticon.com/icons/svg/26/26012.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
               </button>
            </div>
            <div class="float-right submit-button-container">
              <input type="submit" class="btn btn-primary" value="Add Activity" >
            </div>
            <div style="clear : both;">
              <small>* : required field</small>
            </div>
          </form>
        </div>

      </li>
    </div>
    </ng-template>
  </ngb-panel>
